

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.suo
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Demo1_ConsoleApp/packages/
Demo2_WebApp/packages/
